body {
    background: lightblue;
}

#header {
    text-align: center;
    padding: 20px;
}

#title {
    font-size: 35px;
}

#date {
    font-size: 30px;
}

#word-count-table {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    border-collapse: collapse;
}

td {
	padding: 2px;
    border: 1px solid black;
}
